.logo {
    position:relative;
    top:0;
    width:100%;
}

#components {
    margin-top:10px;
}

hr {
    border-color:gray;
    border-style:solid;
    border-width:1px;
}

.component {
    margin: 10%;
    width:80%;
    border-radius:10%;
    border-style:solid;
    border-width:2px;
    border-color: #5d5d5d;
}

.build-section {
    height:75%;
    bottom:25%;
    text-align: center;
    cursor: default;
}

.build-section img {
    cursor: inherit;
}

.stage {
    height: 100%;
    display: inline-block;
    position:relative;
}

.stage img {
    height:100%;
}

.description-box {
    height:15%;
    bottom:0px;
}

h2 {
    font-size:x-large;
    font-weight: bold;
}

#dropHere {
    width:100px;
    height:100px;
    position:absolute;
    top:200px;
    left:150px;
    background-color:gray;
    border-style:solid;
    border-width:2px;
    border-color:black;
}

.onTop {
    z-index: 1000;
}

.sidebar .sub-header {
    text-align:center;
}

#component-name {
    margin-top:10%;
    display:block;
    text-align: center;
    font-size: large;
    font-weight:bold;
}

#active-area {
    border-color: black;
    border-style:solid;
    display:block;
    width:40px;
    height:40px;
    border-radius:20px;
    position:absolute;
    top:0;
    left:0;
    cursor:pointer;
}

body{
    user-select: none;
}